# Ignore virtual environment
venv/
# Ignore Python bytecode
*.pyc
__pycache__/
# Ignore SQLite database files
*.sqlite3
# Ignore Django migrations
*/migrations/*
# Ignore environment variables
.env
# Ignore IDE specific files
.vscode/
.idea/
# Ignore static and media files
staticfiles/
media/
# Ignore coverage reports
htmlcov/
.coverage
# Ignore logs
*.log
# Ignore local settings
local_settings.py